<body>
    <div>
        <table border="1">
            <tr>
                <td>
                    病歷號碼：
                    <input type="text" name="Number" value="1245678">
                </td>
                <td>
                    姓名：
                    <input type="text" name="Name" value="王大明">
                </td>
                <td>
                    床號：
                    <input type="text" name="Bed" value="1543">
                </td>

            </tr>
            <tr>
                <td>
                    <label for="Birthday">出生日期：</label>
                    <input id="Birthday" type="date" value="1990-01-13" />
                </td>
                <td>
                    性別：
                    <input type="radio" name="Sex" value="0"> 男
                    <input type="radio" name="Sex" value="1"> 女
                    <br>
                </td>
                <td>
                    主治醫師：
                    <input type="text" name="Doctor" value="自己的名字">
                </td>

            </tr>

            <tr>
                <td>S：</td>
                <td>
                    <textarea>3/22</textarea>
                </td>
                <td></td>
            </tr>
            <tr>
                <td>O：</td>
                <td>
                    <textarea></textarea>
                </td>
                <td></td>
            </tr>
            <tr>
                <td>A：</td>
                <td>
                    <textarea>高血壓</textarea>
                </td>
                <td></td>
            </tr>
            <tr>
                <td>P：</td>
                <td>
                    <textarea>心導管檢查</textarea>
                </td>
                <td></td>
            </tr>



        </table>

    </div>
</body>
<h1>這是h2</h1>
<h2>h2</h2>
<h3>h3</h3>
<h4>h4</h4>
<h5>h5</h5>
<h6>h6</h6>
<br />
br
<li>li1</li>
<li>li2</li>
<li>li3</li>
<ol>
    <li>ol1</li>
    <li>ol2</li>
</ol>
<ul>
    <li>ul1</li>
    <li>ul2</li>
</ul>

<img height="500" src="https://2.bp.blogspot.com/-ckdPohaljGc/VLI7Gsy-buI/AAAAAAAAceA/ojJN4CADZ40/s1600/07_dance.png">

