@{
    ViewBag.Title = "啦啦啦";
}

<div class="jumbotron">
    <h1>這是亂數假文</h1>
    <p class="lead">腦放門團以人功重層不化有水心字課電天市，高華展家。票離動：初企吸量：到自快馬。歡子有形銀續個傳小的收親往建水港西身畫北先外義，口快年立</p>
    <p><a href="https://zh.wikipedia.org/wiki/Lorem_ipsum" class="btn btn-primary btn-lg">還是不懂嗎 &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>這能做什麼?</h2>
        <p>
            產生沒有意義的文章，供排版時填充版面用，但不會因為字義而左右版型的判斷。文字、標點符號出現機率大致符合台灣文章習慣。
        </p>
        <p><a class="btn btn-default" href="http://www.richyli.com/tool/loremipsum/wordcount.asp">引用自 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>不果行公康點引?</h2>
        <p>領導力在順境的時候，有時候你的心在哪裡，什麼是團隊呢？有最古的文明，慢慢地說，遂亦不受到阻礙……所有的戰士已都死去</p>
        <p><a class="btn btn-default" href="https://www.google.com.tw/search?rlz=1C1VFKB_enTW757TW787&biw=1920&bih=974&tbm=isch&sa=1&ei=XtDNWo6aBouD8gXUjCw&q=%E6%9C%88%E6%9C%88%E6%A2%97%E5%9C%96&oq=%E6%9C%88%E6%9C%88&gs_l=psy-ab.3.4.0l10.19946.20756.0.23813.3.3.0.0.0.0.113.198.2j1.3.0....0...1c.1j4.64.psy-ab..0.3.197....0.MGD3B-IvdAQ">好喔 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>劇陽運養名實？</h2>
        <p>金遠親物招道……形須行更得賣山規，報孩使人的花友、客老灣裡子巴裝：界分種東險他學車外導體必要民進心產兩</p>
        <p><a class="btn btn-default" href="https://www.google.com.tw/imgres?imgurl=https%3A%2F%2Fpbs.twimg.com%2Fmedia%2FDCH8ThdV0AIWkQt.jpg&imgrefurl=https%3A%2F%2Ftwitter.com%2Fhashtag%2F%25E4%25BD%25A0%25E7%259C%259F%25E7%259A%2584%25E6%2598%25AF%25E4%25BB%2596%25E5%25AA%25BD%25E5%25B9%25B9%25E8%25A9%25B1%25E7%258E%258B%25E8%2580%25B6&docid=9f-1lq9oOjTUNM&tbnid=Ea-7fQF5HIK2KM%3A&vet=10ahUKEwjX1qDx77HaAhUMUbwKHbG_BLgQMwglKAEwAQ..i&w=720&h=397&bih=974&biw=1920&q=%E7%9C%9F%E7%9A%84%E6%98%AF%E4%BB%96%E5%AA%BD%E7%9A%84%E5%B9%B9%E8%A9%B1%E7%8E%8B&ved=0ahUKEwjX1qDx77HaAhUMUbwKHbG_BLgQMwglKAEwAQ&iact=mrc&uact=8">我真的是他媽的幹話王欸 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>人長過落叫？</h2>
        <p>招死了質故寫，計常同；演建許此現子去定，來信星山一件合熱</p>
        <p><a class="btn btn-default" href="@Url.Content("~/Home/Progress")">好喔 &raquo;</a></p>
    </div>
</div>