@{
    ViewBag.Title = "病成記錄";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <table border="1">
            <tr>
                <td>
                    病歷號碼：
                    <input type="text" name="Number">
                </td>
                <td>
                    姓名：
                    <input type="text" name="Name">
                </td>
                <td>
                    床號：
                    <input type="text" name="Bed">
                </td>

            </tr>
            <tr>
                <td>
                    <label for="Birthday">出生日期：</label>
                    <input id="Birthday" type="date" value="2000-01-13" />
                </td>
                <td>
                    性別：
                    <input type="radio" name="Sex" value="0"> 男
                    <input type="radio" name="Sex" value="1"> 女
                    <br>
                </td>
                <td>
                    主治醫師：
                    <input type="text" name="Doctor">
                </td>

            </tr>

            <tr>
                <td>S：</td>
                <td>
                    <textarea></textarea>
                </td>
                <td></td>
            </tr>
            <tr>
                <td>O：</td>
                <td>
                    <textarea></textarea>
                </td>
                <td></td>
            </tr>
            <tr>
                <td>A：</td>
                <td>
                    <textarea></textarea>
                </td>
                <td></td>
            </tr>
            <tr>
                <td>P：</td>
                <td>
                    <textarea></textarea>
                </td>
                <td></td>
            </tr>



        </table>

    </div>
</body>
</html>


<p>小內容啦啦啦</p>
